<p id="notice"><%= notice %></p>

<h1>Listing Blogs</h1>
<%= link_to 'New Blog', new_blog_path, class: "btn btn-success" %>
<div id="content">
  <div id="title" class="container-fluid">
    <b align="center">Title</b> </br></br>
    <% @blogs.each do |blog| %>
      <%= link_to "#{blog.title}", blog %> <br>
      <%= blog.user.email %> <br>
      <hr>
    <% end -%>    
  </div>
  <div id="main" class="container-fluid">
    <b>Content</b><br><br>
    <% @blogs.each do |blog| %>
      <%= blog.content %> <br> <hr>
    <% end -%>
  </div>
</div>
  

<br>
<!--div id="new_blog"
  <%= link_to 'New Blog', new_blog_path, class: "btn btn-primary" %>
</div> 
-->

