<!DOCTYPE html>
<html>
<head>
  <title>Blog1</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
 <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to "My Blog", blogs_path, class: "navbar-brand" %>
    </div>
    <div>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
			<li><b class="navbar-brand"><%= current_user.email %></b></li>
			<li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
		<% else %>
			<li><%= link_to "Sign in", user_session_path %></li>
		<% end %>
      </ul>
    </div>
  </div>
</nav>			
	<div class="container-fluid" id="body1">
		<br><br><br>
		<p class="notice"><%= alert %></p>
		<%= yield %>
	</div>	

</body>
</html>
